@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Courgette&family=Josefin+Sans:ital,wght@0,200;1,100&family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap");
* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", "Noto Sans", sans-serif;
}
body {
  background-color: #f6f4f3;
}
main {
  width: 1200px;
  margin-top: 100px;
  margin-bottom: 40px;
  background-color: #f6f4f3;
  border-radius: 10px;
}

/* 分隔線 */
.divider {
  border-top: 5px solid #ccc;
  width: 1100px;
}

/* to top */
.totop {
  border-radius: 50%;
  position: fixed;
  bottom: 63px;
  right: 50px;
  z-index: 10000;
}
.totop-button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  border-radius: 50%;
}

/* 回頂部 */
button {
  width: 75px;
  height: 75px;
  cursor: pointer;
  background-image: linear-gradient(315deg, #849cbe 0%, #92a6c2 74%);
  border: none;
  border-radius: 50%;
  transition: 200ms;
}

button svg {
  fill: white;
  width: 30px;
  height: 30px;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
}

button:before {
  content: "Top";
  position: absolute;
  transform: translateX(-50%) translateY(45px);
  font-size: 15px;
  transition: 200ms;
  color: transparent;
  font-weight: bold;
}

button:hover {
  width: 80px;
  height: 80px;
}

button:hover::before {
  color: #666;
}

button:hover svg {
  animation: bounce 2s infinite linear;
}

@keyframes bounce {
  0% {
    transform: translateX(-50%) translateY(-50%);
  }
  25% {
    transform: translateX(-50%) translateY(-65%);
  }
  50% {
    transform: translateX(-50%) translateY(-50%);
  }
  75% {
    transform: translateX(-50%) translateY(-35%);
  }
  100% {
    transform: translateX(-50%) translateY(-50%);
  }
}

button:focus {
  outline: none;
}
